name: Enable automerge on dependabot PRs

on:
  pull_request_target:

jobs:
  automerge:
    name: Enable automerge on dependabot PRs
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    if: github.actor == 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Auto-merge regular dependabot PRs
        run: gh pr merge ${{ github.event.pull_request.html_url }} --auto --squash
    env:
      # You may be tempted to make this github.token, this won't work
      # because GH Actions does not trigger workflows on github.token
      # in order to avoid recursive workflows.
      # See: https://docs.github.com/en/actions/security-for-github-actions/security-guides/automatic-token-authentication#using-the-github_token-in-a-workflow
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
